<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR | Dashboard</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- font-awesome-icons -->
    <script
      src="https://kit.fontawesome.com/be692c047d.js"
      crossorigin="anonymous"
    ></script>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body class="dashboard">
    <nav class="nav">
      <div class="nav__container container">
        <a href="/" class="nav__logo">
          Password<span class="nav__logo-light">KeepR</span>
        </a>
        <!-- handle logout feature -->
        <a href="/"><button class="btn-secondary">Logout</button></a>
      </div>
    </nav>
    <main class="container">
      <h1 class="dashboard__title">Dashboard</h1>
      <section class="dashboard__passwords">
        <header class="dashboard__passwords-header">
          <h2 class="dashboard__heading">Passwords</h2>
          <div>
            <!-- add filter functionality here -->
            <button class="dashboard__passwords-add btn-primary">
              Add New
            </button>
          </div>
        </header>
        <!-- these are examples -->
        <div class="dashboard__passwords-category">
          <h3 class="dashboard__heading-category">Social</h3>
          <ul class="dashboard__passwords-cards">
            <li class="dashboard__passwords-card">
              <div class="dashboard__passwords-card-row-1">
                <span class="dashboard__passwords-username">username</span>
                <!-- should link to website -->
                <a href="" target="_blank" class="dashboard__passwords-website"
                  >example.com</a
                >
              </div>
              <div class="dashboard__passwords-card-row-2">
                <span class="hidden-password hidden">o!_k7#TLzy9v`S|</span>
                <span class="show-password">******</span>
                <div class="dashboard__passwords-buttons">
                  <button class="show-password-btn">
                    <i class="fa-solid fa-eye eye-show"></i>
                    <i class="fa-solid fa-eye-slash eye-hide hidden"></i>
                  </button>
                  <button class="copy-to-clipboard">
                    <i class="fa-solid fa-clipboard"></i>
                    <i class="fa-solid fa-check fa-lg hidden"></i>
                  </button>
                  <button class="edit-password">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button class="delete-password">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="dashboard__passwords-card">
              <div class="dashboard__passwords-card-row-1">
                <span class="dashboard__passwords-username">username</span>
                <!-- should link to website -->
                <a href="" target="_blank" class="dashboard__passwords-website"
                  >example.com</a
                >
              </div>
              <div class="dashboard__passwords-card-row-2">
                <span class="hidden-password hidden">o!_k7#TLzy9v`S|</span>
                <span class="show-password">******</span>
                <div class="dashboard__passwords-buttons">
                  <button class="show-password-btn">
                    <i class="fa-solid fa-eye eye-show"></i>
                    <i class="fa-solid fa-eye-slash eye-hide hidden"></i>
                  </button>
                  <button class="copy-to-clipboard">
                    <i class="fa-solid fa-clipboard"></i>
                    <i class="fa-solid fa-check fa-lg hidden"></i>
                  </button>
                  <button class="edit-password">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button class="delete-password">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="dashboard__passwords-category">
          <h3 class="dashboard__heading-category">Work</h3>
          <ul class="dashboard__passwords-cards"></ul>
        </div>
        <div class="dashboard__passwords-category">
          <h3 class="dashboard__heading-category">Entertainment</h3>
          <ul class="dashboard__passwords-cards"></ul>
        </div>
      </section>

      <!-- Edit Password Modal -->
      <div class="edit-password-modal" id="editPasswordModal">
        <div class="edit-password-modal-content">
          <h2 class="edit-password-modal-title">Edit Password</h2>
          <form class="edit-password-modal-form">
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                required
              />
              <label for="confirmNewPassword">Confirm New Password:</label>
              <input
                type="password"
                id="confirmNewPassword"
                name="confirmNewPassword"
                required
              />
            </div>
            <div class="edit-password-modal-form-buttons">
              <button type="button" class="cancel-edit-password btn-red">
                Cancel
              </button>
              <button class="btn-primary" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Delete Password Modal -->
      <div class="edit-password-modal" id="deletePasswordModal">
        <div class="edit-password-modal-content">
          <h2 class="edit-password-modal-title">Delete Password</h2>
          <p>Are you sure you want to delete this password?</p>
          <div class="edit-password-modal-form-buttons">
            <button type="button" class="cancel-delete-password btn-red">
              Cancel
            </button>
            <button class="btn-primary confirm-delete-password" type="button">
              Delete
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
