// See: https://sass-lang.com/

// CSS RESET DEFAULTS

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

body {
  min-height: 100vh;
}

// Global Styles

:root {
  --color-heading: #24053e;
  --color-body: #584d62;
  --color-primary: #44ffa1;
  --color-ghostWhite: #fcf8ff;
  --color-error: #ec5757;
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
  --strength-low: #f64a4a;
  --stength-weak: #fb7c58;
  --strength-medium: #f8cd65;
  --strength-strong: #a4ffaf;
}

.btn-primary {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-heading);
  padding: 12px 24px;
  border: 1px solid var(--color-primary);
  max-width: 190px;
  margin-inline: auto;
  font-weight: 700;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: transparent;
  color: var(--color-primary);
}

.btn-secondary {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  transition: color 0.3s ease;
}

.btn-secondary:hover,
.btn-primary:focus {
  color: var(--color-primary);
}

.btn-red {
  cursor: pointer;
  background-color: var(--color-error);
  color: white;
  padding: 12px 24px;
  border: 1px solid var(--color-error);
  max-width: 190px;
  margin-inline: auto;
  font-weight: 700;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.btn-red:hover,
.btn-red:focus {
  background-color: transparent;
  color: var(--color-error);
}
