// See: https://sass-lang.com/

:root {
  --color-heading: #24053e;
  --color-body: #584d62;
  --color-primary: #44ffa1;
  --color-ghostWhite: #fcf8ff;
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
}

.btn-primary {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-heading);
  padding: 12px 24px;
  border: 1px solid var(--color-primary);
  max-width: 190px;
  margin-inline: auto;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: transparent;
  color: var(--color-primary);
}
