body {
  font-family: var(--font-body);
}

.container {
  margin-inline: auto;
  max-width: 343px;
}

@media (min-width: 768px) {
  .container {
    max-width: 689px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1114px;
  }
}

.nav {
  background-color: var(--color-heading);
  color: white;
  padding-top: 2rem;
  align-items: center;
  padding-bottom: 64px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 800;
    font-size: 1.2rem;

    &-light {
      font-weight: 300;
    }
  }

  &__login {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    transition: color 0.3s ease;
  }

  &__login:hover {
    color: var(--color-primary);
  }
}

.header {
  background-color: var(--color-heading);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: white;
    font-size: 3.125rem;
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 40px;

    &-underline {
      text-decoration: underline;
      text-decoration-color: var(--color-primary);
      text-underline-offset: 5px;
      text-decoration-thickness: 3px;
    }
  }

  &__button {
    margin-bottom: 64px;
  }

  &__image {
    max-width: 320px;
    margin-inline: auto;
  }
}

.features {
  background-color: var(--color-ghostWhite);
  padding: 64px 0;
  margin-bottom: 100px;

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__number {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 20px;
  }

  &__header {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-size: 28px;
  }

  &__body {
    color: var(--color-body);
    font-size: 1rem;
  }
}

.join {
  background-color: var(--color-heading);
  color: white;
  margin-bottom: 74px;

  &__card {
    text-align: center;
    padding: 2rem 0;

    &-title {
      font-family: var(--font-heading);
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &-body {
      padding: 0 2rem;
      margin-bottom: 24px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  padding-bottom: 63px;

  &__links {
    display: flex;
    gap: 28px;
    color: var(--color-heading);

    &-icon {
      transition: all 0.3s ease;
    }

    &-icon:hover {
      color: var(--color-primary);
    }
  }
}
