.container {
  margin-inline: auto;
  max-width: 343px;
}

@media (min-width: 768px) {
  .container {
    max-width: 689px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1114px;
  }
}

.nav {
  background-color: var(--color-heading);
  color: white;
  padding: 2rem 0;
  align-items: center;

  &-links {
    display: flex;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 800;
    font-size: clamp(1rem, 0.4718rem + 2.2535vw, 2rem);

    &-light {
      font-weight: 300;
    }
  }

  .nav-links {
    display: flex;
  }

  .btn-generator {
    padding-left: 1rem;
    margin-right: 1rem;
  }

  .btn-admin {
    padding-left: 1rem;
    margin-right: 1rem;
  }

  .btn-dashboard {
    padding-left: 1rem;
    margin-right: 1rem;
  }
}



.header {
  background-color: var(--color-heading);
  border-radius: 0% 0% 100% 100% / 0% 0% 10% 10%;
  position: relative;
  z-index: 10;
  padding-top: 4rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: white;
    font-size: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 40px;

    &-underline {
      text-decoration: underline;
      text-decoration-color: var(--color-primary);
      text-underline-offset: 5px;
      text-decoration-thickness: 3px;
    }
  }

  &__button {
    margin-bottom: 164px;
  }

  @media (min-width: 768px) {
    &__button {
      margin-bottom: 214px;
    }
  }

  &__image {
    max-width: 320px;
    margin-inline: auto;
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
  }

  @media (min-width: 768px) {
    &__image {
      max-width: 514px;
      bottom: -120px;
    }
  }
}

.features {
  background-color: var(--color-ghostWhite);
  position: relative;
  z-index: 0;
  padding-top: 155px;
  padding-bottom: 64px;
  margin-top: -50px;
  margin-bottom: 100px;
  border-radius: 0% 0% 100% 100% / 0% 0% 10% 10%;

  @media (min-width: 768px) {
    padding-top: 200px;
    padding-bottom: 103px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;

    @media (min-width: 1440px) {
      flex-direction: row;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      @media (min-width: 768px) {
        &-div {
          max-width: 493px;
          margin-inline: auto;
        }
      }
    }

    @media (min-width: 768px) {
      &-item {
        flex-direction: row;
        text-align: left;
        gap: 2rem;
      }
    }

    @media (min-width: 1440px) {
      &-item {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  &__number {
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--color-primary);
    font-size: 20px;
    margin-inline: auto;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }

  &__header {
    font-family: var(--font-heading);
    color: white;
    font-size: 28px;
  }

  &__body {
    color: #828fa3;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
}

.join {
  background-color: var(--color-heading);
  color: white;
  border-radius: 8px;
  margin-bottom: 74px;
  font-size: 1rem;

  @media (min-width: 768px) {
    max-width: 514px;
  }

  &__card {
    text-align: center;
    padding: 2rem 0;

    @media (min-width: 768px) {
      padding: 3rem 0;
    }

    &-title {
      font-family: var(--font-heading);
      font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
      margin-bottom: 1rem;
    }

    &-body {
      padding: 0 2rem;
      margin-bottom: 24px;
      font-weight: 400;

      @media (min-width: 768px) {
        padding: 0 3.5rem;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  padding-bottom: 63px;

  &__links {
    display: flex;
    gap: 28px;
    color: var(--color-heading);

    &-icon {
      transition: all 0.3s ease;
    }

    &-icon:hover {
      color: var(--color-primary);
    }
  }
}

// Register + Login Pages

.register-login-body {
  background-color: var(--color-ghostWhite);
}

.register-login {
  margin-top: 10rem;

  &__title {
    margin-inline: auto;
    max-width: 320px;
    margin-bottom: 0.5rem;
    color: white;
    font-family: var(--font-heading);

    @media (min-width: 768px) {
      max-width: 540px;
    }
  }

  &__form {
    max-width: 320px;
    margin-inline: auto;
    background-color: var(--color-heading);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 1rem;
    border-radius: 8px;
    font-weight: 700;

    @media (min-width: 768px) {
      max-width: 540px;
    }

    &-div {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &-label {
      margin-left: 0.5rem;
    }

    &-input {
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      padding: 10px;
    }

    &-input:focus {
      border-bottom: 1px solid var(--color-primary);
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      font-weight: 400;
      font-size: 1rem;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  .submit {
    margin: 1rem auto;
  }
}

// Admin
.admin {
  font-family: var(--font-body);
  background-color: var(--color-ghostWhite);
  font-weight: 700;
}

// Dashbaord

.dashboard {
  font-family: var(--font-body);
  background-color: var(--color-ghostWhite);
  color: white;
  font-weight: 700;

  &__title,
  &__heading {
    font-family: var(--font-heading);
    color: white;
  }

  &__heading {
    font-size: 1.5rem;
    color: white;

    &-category {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: white;

      @media (min-width: 768px) {
        font-size: 1.25rem;
      }
    }
  }

  &__title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__passwords {
    &-category {
      margin-bottom: 2rem;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    &-filter {
      font-size: 0.9rem;
      font-weight: 700;
    }

    &-add {
      margin-left: 1rem;
    }

    &-cards {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    &-card {
      background-color: #2b2c37;
      color: white;
      border-radius: 8px;
      padding: 1.5rem;
      font-size: 0.9375rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      box-shadow: 0px, 4px rgba(54, 78, 126, 0.1015);

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
      }

      &-row-1 {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
      }

      &-row-2 {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        flex-grow: 1;

        .hidden {
          display: none;
        }
      }
    }

    &-username {
      font-weight: 700;
    }

    &-website {
      color: var(--color-body);
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-primary);
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-buttons i {
      color: var(--color-body);
      transition: all 0.3s ease;
    }

    &-buttons i:hover,
    &-buttons i:focus {
      color: var(--color-primary);
    }
  }
}

// Generator
.generator {
  display: grid;
  place-items: center;
  min-height: 80vh;
  font-weight: 700;



  &__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-heading);
    color: white;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__card {
    font-family: var(--font-body);
    font-size: 1rem;
    background-color: var(--color-heading);
    border-radius: 8px;
    padding: 2rem;
    color: var(--color-body);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;

    @media (min-width: 768px) {
      width: 500px;
    }

    &-password {
      padding: 1rem;
      background-color: var(--color-ghostWhite);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;

      .hidden {
        display: none;
      }

      span {
        font-size: 10px;
      }

      @media (min-width: 768px) {
        span {
          font-size: 16px;
        }
      }
    }

    &-password i {
      color: var(--color-heading);
      transition: color 0.3s ease;
      cursor: pointer;
    }

    &-password i:hover,
    &-password i:focus {
      color: var(--color-primary);
    }
  }

  &__form {
    color: var(--color-body);
    background-color: var(--color-ghostWhite);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 1rem;
    padding: 1rem;

    &-input {
      display: flex;
      gap: 20px;
    }
  }

  .input-char-length {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .char-length-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
  }

  .char-length-num {
    font-size: 2rem;
  }

  .char-length-input {
    margin-top: 1rem;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background-color: var(--color-primary);
    border-radius: 8px;
    outline: none;
  }

  .char-length-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--color-heading);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .char-length-input::-webkit-slider-thumb:hover {
    background-color: var(--color-ghostWhite);
    border-color: var(--color-heading);
  }

  &__checkbox {
    appearance: none;
    background-color: var(--color-heading);
    border: 2px solid var(--color-body);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: var(--color-primary);
      border: solid var(--color-primary);
    }

    &:checked::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
    }
  }

  .password-strength {
    display: flex;
    gap: 57px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-heading);
    color: var(--color-body);
    border-radius: 8px;
    padding: 1rem;
    text-transform: uppercase;
  }

  .strength-col2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 18px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    span {
      font-size: 10px;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      span {
        font-size: 12px;
      }
    }
  }

  .btn-secondary {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    font-family: var(--font-heading);
    color: white;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  .strength-bars {
    display: flex;
    gap: 8px;
  }

  .strength-bar {
    width: 10px;
    height: 28px;
    background: global-variable-exists($name: --strength-medium);
    border: 2px solid var(--color-ghostWhite);
  }

  .strength-strong {
    background-color: var(--strength-strong);
  }

  .strength-medium {
    background-color: var(--strength-medium);
  }

  .strength-weak {
    background-color: var(--stength-weak);
  }

  .strength-too-weak {
    background-color: var(--strength-low);
  }

  .error-message-generator {
    color: var(--color-error);
  }
}

// Modals //

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.5s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal-content {
  background-color: var(--color-ghostWhite);
  color: var(--color-body);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 10px;
  max-width: 327px;
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 480px;
  }
}

.modal-title {
  color: white;
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group input {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-bottom: 3px solid var(--color-heading);
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.form-group input:focus {
  border-color: var(--color-primary);
}

.form-group-password {
  display: flex;
  flex-direction: column;
  position: relative;
}

.generator-link {
  position: absolute;
  top: 20px;
  right: 0;
}

.modal-form-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

// Error Page

.error-page {
  background-color: var(--color-ghostWhite);

  &__title {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--color-body);
  }

  &__message {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: var(--color-body);
    padding-bottom: 2rem;
  }
}